langchain==0.2.14
python-dotenv==1.0.1
ipykernel==6.29.5
langchain-community==0.2.12
pypdf==4.2.0
beautifulsoup4==4.12.3
arxiv==2.1.3
pymupdf==1.24.9
wikipedia==1.4.0
langchain-text-splitters==0.2.2
langchain-openai==0.1.22
chromadb==0.5.5
sentence-transformers==2.7.0
langchain-huggingface==0.0.3
faiss-cpu==1.8.0
langchain-chroma==0.1.2
duckdb==1.0.0
pandas==2.2.2
openai==1.40.6
langchain-groq==0.1.5
pydantic==1.10.13
duckduckgo_search==5.3.1b1
mysql-connector-python==9.0.0
sqlalchemy==2.0.32
validators==0.28.1
youtube-transcript-api==0.6.2
unstructured==0.14.10
pytube==15.0.0
numexpr==2.10.1
huggingface-hub==0.24.6
streamlit==1.37.1
langchain-core==0.2.36
fastapi==0.110.3
uvicorn==0.30.6
langserve==0.2.2